## Python Basic

In [1]:
a = 3
b = 2
a + b

5

## 證交所網路爬蟲

In [2]:
import requests
url = 'https://www.twse.com.tw/exchangeReport/MI_INDEX?response=json&date=20190628&type=ALLBUT0999&_=1561775069945'
res = requests.get(url)
res

In [5]:
# .json => 將 JSON 資料轉換為 Python 字典
jd = res.json()

In [7]:
# 列出資料所有的索引
jd.keys()

dict_keys(['data4', 'fields1', 'subtitle4', 'notes4', 'data5', 'date', 'alignsStyle1', 'groups5', 'fields4', 'stat', 'alignsStyle2', 'data3', 'data1', 'fields3', 'subtitle5', 'fields2', 'alignsStyle4', 'subtitle1', 'fields5', 'alignsStyle5', 'data2', 'params', 'alignsStyle3', 'notes5'])

In [11]:
# 資料欄位
jd['fields5']

['證券代號',
 '證券名稱',
 '成交股數',
 '成交筆數',
 '成交金額',
 '開盤價',
 '最高價',
 '最低價',
 '收盤價',
 '漲跌(+/-)',
 '漲跌價差',
 '最後揭示買價',
 '最後揭示買量',
 '最後揭示賣價',
 '最後揭示賣量',
 '本益比']

In [14]:
import pandas
df = pandas.DataFrame(jd['data5'])
df.columns = jd['fields5']
df.head()

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比
0,0050,元大台灣50,"3,940,686","1,867","319,369,533",81.45,81.55,80.85,80.90,<p style= color:green>-</p>,0.60,80.90,246,80.95,2,0.00
1,0051,元大中型100,"6,098",7,"195,904",32.20,32.20,32.10,32.10,<p style= color:green>-</p>,0.08,32.10,1,32.20,4,0.00
2,0052,富邦科技,"107,219",11,"5,694,107",53.45,53.45,52.95,53.10,<p style= color:green>-</p>,0.35,52.95,1,53.30,10,0.00
3,0053,元大電子,"59,000",7,"2,010,260",34.17,34.17,34.01,34.01,<p style= color:green>-</p>,0.16,34.00,30,34.10,1,0.00
4,0054,元大台商50,"5,000",3,"111,080",22.20,22.31,22.19,22.31,<p style= color:red>+</p>,0.11,22.20,75,22.31,8,0.00

In [15]:
len(df)

1096

## HTTP Status Code
- https://zh.wikipedia.org/wiki/HTTP%E7%8A%B6%E6%80%81%E7%A0%81